@media (max-width: 1050px) {

    .bottom_wrapper {
        display: block;
        text-align: center;
    }

}
@media (max-width: 420px) {
    .nav{
        display: block;
    }
    .nav--wrap:first-child{
        margin-bottom: 20px;
        margin-right: 0;
    }
    .nav--wrap{
        justify-content: center;
    }
    .top-menu_contacts{
        display: block;
    }

}
@media (max-width: 600px) {
    .spend_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .adaptive_moment {
        display: block;
    }

    .spend_tile {
        margin-bottom: 50px;
        width: 70%;
    }

    .spend_tile:last-child {
        margin-bottom: 0;
    }

    .our-team_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .our-team_person {
        width: 60%;
    }

    .title_img {
        display: none;
    }
}

@media (max-width: 770px) {
    .who-we-are_wrapper {
        width: 100%;
    }

    .donate_img {
        width: 70%;
    }

    .who-we-are_img {
        display: none;
    }
}

@media (max-width: 800px) {
    .donate_wrap {
        flex-direction: column;
    }
    .donate_anchor {
        margin-bottom: 20px;
        width: 70%;
    }

}

